.ChatMessage {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  border-radius: 0.5rem;
  width: 80%;
  background: var(--grey-500);
  
  &:global(.user) {
    background: var(--primary-darker-color);
    align-self: flex-end;
  }

  .role {
    color: #999;
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5em;
    text-transform: capitalize;
  }

  :global(pre) {
    line-height: 1.4rem;
    white-space: pre-wrap;
  }
}
